# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv_new/
env/

# Environment files
.env

# OS files
.DS_Store

# Databases
experiments.db

# ML models
*.pt
*.pkl
*.h5

# Datasets
*.csv

# Outputs
checkpoints/
output/

# Node
node_modules/

# Archives
*.zip
*.bin

# System / compiled binaries
*.dll
*.lib
*.exe